{% extends 'base.html' %}

{% block content %}
<h1>About page</h1>

<div id="about">
    <h2>
        Kilka słów o mnie
    </h2>
    <p>
        Nam iaculis sollicitudin dignissim. Aenean tincidunt rhoncus massa, at tincidunt eros lacinia quis. Cras vitae tellus condimentum, efficitur mi rutrum, sagittis dui. Cras nec sodales justo. Phasellus cursus interdum facilisis. Pellentesque vestibulum gravida rutrum. Nullam at posuere ex, id tempus nisl.
    </p>
</div>

<div id="kontakt">
    <h2>
        Kontakt
    </h2>
    <p>
        e-mail: magdapietruchx@gmail.com
    </p>
</div>

{% endblock content %}
