{% extends 'base.html' %}

{% block content %}
<h1>Homepage</h1>

<div id="tresc">
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In molestie scelerisque ante eget elementum. Mauris id dolor mattis lorem ullamcorper bibendum. Nullam vitae placerat diam, nec feugiat eros. Curabitur interdum tristique nunc, sed auctor diam mollis in. Aliquam eget nibh eros. Donec maximus posuere hendrerit. Vivamus pulvinar malesuada justo ut gravida. Maecenas vestibulum lacinia est, in porta ligula auctor ut. Ut diam urna, laoreet euismod ex sit amet, iaculis tempus ante. Ut sollicitudin molestie turpis id venenatis. Sed a leo nunc. Integer a elit diam. Praesent ac dolor nec elit rutrum sodales sed quis mi. Sed ullamcorper dapibus scelerisque.
    </p>
    <p>
    Nam iaculis sollicitudin dignissim. Aenean tincidunt rhoncus massa, at tincidunt eros lacinia quis. Cras vitae tellus condimentum, efficitur mi rutrum, sagittis dui. Cras nec sodales justo. Phasellus cursus interdum facilisis. Pellentesque vestibulum gravida rutrum. Nullam at posuere ex, id tempus nisl.
    </p>
</div>

{% endblock content %}
